<%= form_for :session, url: session_path, class: "form-signin" do |form| %>
<div class="text-center mb-4">
  <%= image_tag 'chapterlogo.png' %>
</div>

<%# 
<div class="form-label-group">
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
  <label for="inputEmail">Email address</label>
</div> %>

  <div class="form-label-group">
    <%= form.label :email %>
    <%= form.email_field :email, type: 'email', class:"form-control", placeholder:"Email address", :required => true, autofocus: true %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
