<br>
<br>
<br>
<br>
<br>



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :title) %></th>
      <th scope="col"><%= sort_link(@q, :author) %></th>
      <th scope="col"><%= sort_link(@q, :genre) %></th>

    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.genre %></td>
      <td>              <% unless current_user.books.include?(book) %>
      <%= form_for @user_book, :url => url_for(:controller => 'user_books', :action => 'create') do |f| %>
        <%= f.hidden_field(:user_id, value: current_user.id) %>
        <%= f.hidden_field(:book_id, value: book.id) %>
        <%= f.hidden_field(:read, value: false) %>
        <%= f.hidden_field(:priority, value: nil) %>
        <%= button_tag( :class => "small_button") do %>
          <i class="fas fa-plus-circle"></i> Add To myBooks
        <% end %>
      <% end %>
    <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>