
    <h2 class="h3 mb-3 font-weight-normal">Welcome To Chapter ! 🐛</h1>
    
      <div class="form-label-group">
        <%= form.label :first_name, class:"sr-only" %>
        <%= form.text_field :first_name, type: 'text', class:"form-control", placeholder:"First Name", :required => true, autofocus: true  %>
      </div>

      <div class="text-field">
        <%= form.label :last_name, class:"sr-only" %>
        <%= form.text_field :last_name, type: 'text', class:"form-control", placeholder:"Last Name", :required => true %>
      </div>

      <div class="text-field">
        <%= form.label :email, class:"sr-only" %>
        <%= form.text_field :email, type: 'email', class:"form-control", placeholder:"Email Address", :required => true %>
      </div>

      <div class="password-field">
        <%= form.label :password, class:"sr-only" %>
        <%= form.password_field :password, class:"form-control", placeholder:"Password", :required => true %>
      </div>

      <div>
      <strong>
  <%= form.label :time_preference, "Time Preference" %>
    </h4>
      </strong>
    <%= form.select :time_preference, options_for_select([

  ["Morning", 480],
  ["Noon", 720],
  ["Afternoon", 1050],
  ["Evening", 1170]
].map {|times| [times[0],times[1]]}, :selected => params[:user]), {}, { :class => 'span3 controls controls-row' } %>
      </div>
      <br>



