<div class="bkgrdImg">
<div class="overlay">

  <div class="container">
  
    <% if signed_in? %>

      <br> <br>
      <%= image_tag 'chapterlogo-white.svg', class: 'logoPic' %><br>
      Signed in as: <%= current_user.email %><br> <br>
      <%= button_to 'Sign Out', sign_out_path, method: :delete, class:"button" %>

    <% else %>

      <br> <br>
      <%= image_tag 'chapterlogo-white.svg', class: 'logoPic' %><br>
      <p>Reading on your own time!</p> <br>
      <%= button_to 'Sign In', sign_in_path, method: :get, class:"button" %>
      <%= button_to 'Sign Up', sign_up_path, method: :get, class:"button2" %>   

    <% end %>

  </div>
</div>
</div>