<section id="mainContent">

  <p id="notice"><%= notice %></p>
  <div class="mainBookList">
    <h1><strong>Available Books</h1></strong>
    <% @books.each do |book| %>
      <p class='d-flex align-content-center flex-wrap'>
        <div class="row">
          <div class="col-sm-2">
            <p><%= image_tag book.image %></p>
          </div>
          <div class="col-sm-10">
            <p>
              
              <strong>Title: </strong> <%= book.title %> </br>
              <strong>Author: </strong> <%= book.author %></br>
              <strong>Genre: </strong> <%= book.genre %>
             <br>
                <strong>Description: </strong>
                
                  <%= book.description %>
                
              <br>
              <% unless current_user.books.include?(book) %>
                <%= form_for @user_book, :url => url_for(:controller => 'user_books', :action => 'create') do |f| %>
                  <%= f.hidden_field(:user_id, value: current_user.id) %>
                  <%= f.hidden_field(:book_id, value: book.id) %>
                  <%= f.hidden_field(:read, value: false) %>
                  <%= f.hidden_field(:priority, value: nil) %>
                  <%= button_tag( :class => "small_button") do %>
                    <i class="fas fa-plus-circle"></i> Add To myBooks
                  <% end %>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
        
        <br>
        <hr/>
      </p>
    <% end %>
  </div>


