<section id="mainContent">

<h1>Books</h1>
  <p id="notice"><%= notice %></p>
  <div class="mainBookList">
    <h1><strong>Available Books</h1></strong>
    <% @books.each do |book| %>
      <p class='d-flex align-content-center flex-wrap'>
        <p><%= image_tag 'bookicon.jpg' %></p>
        <p>
          <strong>Title: </strong> <%= book.title %> </br>
          <strong>Author: </strong> <%= book.author %></br>
          <strong>Genre: </strong> <%= book.genre %></br>
          <%= link_to 'Read', read_path(book.id) %>
          <% unless current_user.books.include?(book) %>
            <%= form_for @user_book, :url => url_for(:controller => 'user_books', :action => 'create') do |f| %>
              <%= f.hidden_field(:user_id, value: current_user.id) %>
              <%= f.hidden_field(:book_id, value: book.id) %>
              <%= f.hidden_field(:read, value: false) %>
              <%= f.hidden_field(:priority, value: nil) %>
              <%= button_tag( :class => "small_button") do %>
                <i class="fas fa-plus-circle"></i> Add To myBooks
              <% end %>
            <% end %>
          <% end %>
        </p>
        <br>
        <hr/>
      </p>
    <% end %>
  </div>


<center>
<div class="col-6">
<%= search_form_for @q do |f| %>
  <%= f.label "Search For Your Book" %>
   <label type="text" class="form-control" placeholder="Book Search"> <%= f.search_field :title_or_author_or_genre_cont %> <label>
  <%= f.submit %>
<% end %>
</div>
</center>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :title) %></th>
      <th scope="col"><%= sort_link(@q, :author) %></th>
      <th scope="col"><%= sort_link(@q, :genre) %></th>

    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.genre %></td>
      </tr>
    <% end %>
  </tbody>
</table>