# <center>
# <div class="col-6">
# <%= search_form_for @q do |f| %>
#   <%= f.label "Search For Your Book" %>
#    <label type="text" class="form-control" placeholder="Book Search"> <%= f.search_field :title_or_author_or_genre_cont %> <label>
#   <%= f.submit %>
# <% end %>
# </div>
# </center>


# <table class="table table-striped">
#   <thead>
#     <tr>
#       <th scope="col"><%= sort_link(@q, :title) %></th>
#       <th scope="col"><%= sort_link(@q, :author) %></th>
#       <th scope="col"><%= sort_link(@q, :genre) %></th>

#     </tr>
#   </thead>
#   <tbody>
#     <% @books.each do |book| %>
#       <tr>
#       <td><%= book.title %></td>
#       <td><%= book.author %></td>
#       <td><%= book.genre %></td>
#       </tr>
#     <% end %>
#   </tbody>
# </table>