<section id="mainContent">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="progressBar">

        
          <div class="bookStatus">
           <p><strong>Hi Bob</p></strong>
           <div class="bookImg"><%= image_tag 'caterpillar.png' %></div>
          </div>
          <strong>Status:</strong> Caterpillar</br>
          <strong>Progress bar:</strong></br>
          <div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="40"
  aria-valuemin="0" aria-valuemax="100" style="width:40%">
    
  </div>
</div>
        </div>
    
        <div class="reco">
          <p><strong>Recommended Books:</p></strong>
          <div class="bookImg"><%= image_tag 'bookicon.jpg' %> </div>
           <strong>Title: </strong>How to be awesome </br>
           <strong>Author: </strong>Ronnie Digital</br>
           <a href="/read">Read</a>
          </div>
       </div>

    <div class="col-sm-8">
      <div class="myBooks">
        <p><strong>Bob's Books</p></strong>
        <p id="notice"><%= notice %></p>
        <% @current_user_books.each do |book| %>
          <%= image_tag 'bookicon.jpg' %> 
            <strong>Title: </strong> <%= book.title %></br>
            <strong>Author: </strong> <%= book.author %></br>
            <strong>Genre: </strong> <%= book.genre %></br>
            <%= link_to 'Read', read_path(book.id) %><br>
          <%= button_to 'Remove From myBooks', "/user_books/#{book.user_books.first.id}", method: 'delete' %>




          <hr />
        <% end %>


        <%= image_tag 'bookicon.jpg' %> 
          <strong>Title: </strong> </br>
          <strong>Author: </strong> </br>
          <a href="/read">Read</a>
        <hr />

        <%= image_tag 'bookicon.jpg' %> 
          <strong>Title: </strong> </br>
          <strong>Author: </strong> </br>
          <a href="/read">Read</a>
        <hr />

        <%= image_tag 'bookicon.jpg' %> 
          <strong>Title: </strong> </br>
          <strong>Author: </strong> </br>
          <a href="/read">Read</a>
        <hr />


        </div>
     </div>
   </div>

</section>